<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">
      <span>Portal website</span>
    </a>
    <div>
      <a mat-button [routerLink]="'home'"> Home </a>
      <a mat-button [routerLink]="'events'"> Events </a>
    </div>
    <span class="example-spacer"></span>
    <span> Hi {{user?.displayName}}</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="LogOut" (click)="logOut()">
      <span class="material-icons-outlined">logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <div class="row">
  <div class="col-6">
    <h1>Video</h1>
    <div class="row">
      <div class="col-4">
        asdasd
      </div>
      <div class="col-4">
        asdasd
      </div>
      <div class="col-4">
        asdasd
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        asdasd
      </div>
      <div class="col-4">
        asdasd
      </div>
      <div class="col-4">
        asdasd
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        asdasd
      </div>
      <div class="col-4">
        asdasd
      </div>
      <div class="col-4">
        asdasd
      </div>
    </div>
  </div>
  <div class="col-6">
  
  </div>
</div> -->




<router-outlet></router-outlet>