

.sign-in-container {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url('/assets/images/bg.jpg')!important;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .sign-in-card {
    width: 400px;
    // height: 230px;
    height: 320px;
    padding: 32px
  }
  
  .nested-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    // column-gap: 16px;
    row-gap: 1em;
  
    // justify-items: center;
  }
  
  .card-actions {
    padding: 8px 8px;
  }
  