.form-roles{
  padding: 25px;
  font-weight: 500;
  margin: 5px;



}

.form-role{
  font-size: 20px;
  color: #3f51b5;
}

.form-sub-role{
  padding-right: 30px;
  font-size: 14px;
  color: black;
}

.form-actions{
  padding: 10px;
  font-weight: 500;
  margin: 5px;
  .mat-raised-button{
    margin: 5px;
  }
}
